
@media screen and (min-width: 1024px) {
    #gardenWorld {
        display: none;
        grid-area: 1 / 1 / 1 / 1;
        height: 100%;
        width: 1040px;
        background-size: 100% 100%;
        background-image: url("../img/gardenWorld.jpg");
        background-repeat: no-repeat;
        grid-template-areas: "sun sign cloud" ". . ." "flower tv .";
        margin: 0;
        padding: 0;
    }

    #gardenWorldTV {
        grid-area: tv;
        background-image: url("../img/static.gif");
        background-repeat: no-repeat;
        background-size: 215px 190px;
        background-position-x: 170px;
        background-position-y: 100px;
        z-index: 4;
    }

    #sign {
        grid-area: sign;
        font-family: 'Ewert', cursive;
        font-size: 30px;
        z-index: 1;

    }

    /*------------------------Clouds-------------------------------------------*/
    #cloud-container {
        grid-area: cloud;
        display: flex;
    }

    #cloud-background-wrap1 {
        position: absolute;
        left: 50px;
        z-index: 1;
    }
    #cloud-background-wrap2 {
        position: absolute;
        left: 50px;
        z-index: 2;
        top: 50px;
    }
    #cloud-background-wrap3 {
        position: absolute;
        left: 50px;
        top: 10px;
        z-index: 3;
    }
    #cloud-background-wrap4 {
        position: absolute;
        left: 150px;
        top: -20px;
    }


    /* KEYFRAMES */
    @-webkit-keyframes animateCloud {
        0% {
            margin-left: -500px;
        }
        100% {
            margin-left: 1000px;
        }
    }

    @-moz-keyframes animateCloud {
        0% {
            margin-left: -500px;
        }
        100% {
            margin-left: 1000px;
        }
    }

    @keyframes animateCloud {
        0% {
            margin-left: -500px;
        }
        100% {
            margin-left: 1000px;
        }
    }

    /* ANIMATIONS */
    .x1 {
        -webkit-animation: animateCloud 30s linear infinite;
        -moz-animation: animateCloud 30s linear infinite;
        animation: animateCloud 30s linear infinite;
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        transform: scale(0.95);
        overflow: hidden;
        position: absolute;

    }

    .x2 {
        -webkit-animation: animateCloud 25s linear infinite;
        -moz-animation: animateCloud 25s linear infinite;
        animation: animateCloud 25s linear infinite;
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        transform: scale(0.6);
        overflow: hidden;
        position: absolute;
    }

    .x3 {
        -webkit-animation: animateCloud 20s linear infinite;
        -moz-animation: animateCloud 20s linear infinite;
        animation: animateCloud 20s linear infinite;
        -webkit-transform: scale(0.75);
        -moz-transform: scale(0.75);
        transform: scale(0.75);
        overflow: hidden;
        position: absolute;
    }



    /*---------------------------The Sun-------------------------------------*/
    .container-sun {
        grid-area: sun;
    }

    /* the svg element */
    .svg-sun {
        width: 200px;
        height: 200px;

        -webkit-transform-origin: center center;
        -moz-transform-origin: 50% 50%;
        -o-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: 50% 50%;

        -webkit-animation: spin 25s linear infinite, sun-glow 3s 0s linear infinite;
        -moz-animation: spin 25s linear infinite, sun-glow 3s 0s linear infinite;
        -o-animation: spin 25s linear infinite, sun-glow 3s 0s linear infinite;
        -ms-animation: spin 25s linear infinite, sun-glow 3s 0s ease-in-out infinite;
        animation: spin 25s linear infinite, sun-glow 3s 0s linear infinite;

    }

    /* the circle element in the svg itself */
    #sun {
        stroke-width: 18;
        stroke-dasharray: 2;
        stroke-dashoffset: 2;
    }

    /* animation for the sun glowing effect */
    @-webkit-keyframes sun-glow {
        0% {
            fill: #F1C40F;
            stroke: #F1C40F;
        }
        50% {
            fill: #E67E22;
            stroke: #E67E22;
        }
        100% {
            fill: #F1C40F;
            stroke: #F1C40F;
        }
    }

    @-moz-keyframes sun-glow {
        0% {
            fill: #F1C40F;
            stroke: #F1C40F;
        }
        50% {
            fill: #E67E22;
            stroke: #E67E22;
        }
        100% {
            fill: #F1C40F;
            stroke: #F1C40F;
        }
    }

    @-o-keyframes sun-glow {
        0% {
            fill: #F1C40F;
            stroke: #F1C40F;
        }
        50% {
            fill: #E67E22;
            stroke: #E67E22;
        }
        100% {
            fill: #F1C40F;
            stroke: #F1C40F;
        }
    }

    @-ms-keyframes sun-glow {
        0% {
            fill: #F1C40F;
            stroke: #F1C40F;
        }
        50% {
            fill: #E67E22;
            stroke: #E67E22;
        }
        100% {
            fill: #F1C40F;
            stroke: #F1C40F;
        }
    }

    @keyframes sun-glow {
        0% {
            fill: #F1C40F;
            stroke: #F1C40F;
        }
        50% {
            fill: #E67E22;
            stroke: #E67E22;
        }
        100% {
            fill: #F1C40F;
            stroke: #F1C40F;
        }
    }

    /* start spin animation */
    @-webkit-keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @-moz-keyframes spin {
        100% {
            -moz-transform: rotate(360deg);
        }
    }

    @-o-keyframes spin {
        100% {
            -o-transform: rotate(360deg);
        }
    }

    @-ms-keyframes spin {
        100% {
            -ms-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }

    /*---------------------------Flowers---------------------------------------*/
    #flowers {
        grid-area: flower;
    }

    /*------------------------html5 flower----------------------------*/
    #position {
        top: 90px;
        left: 80px;
        z-index: 1;
    }

    .sunflower {
        position: relative;
        height: 30px;
        width: 30px;
    }

    .petals {
        z-index: -1;
        border-radius: 100%;
        display: inline-block;
        background-image: url("../img/html5.png");
        background-size: 110%;
        background-position: center;
        height: 60px;
        width: 60px;
        position: absolute;
        top: 15px;
        animation: petals 2s infinite linear;
        box-shadow: 15px 17px #FFE000,
        -15px 17px #FFE000,
        -22px -7px #FFE000,
        0 -22px #FFE000,
        22px -7px #FFE000;
    }

    .trunk {
        height: 85px;
        width: 5px;
        background: #77B039;
        left: 75px;
        top: 80px;
        position: absolute;
        z-index: -2;
        animation: trunk 2s infinite linear;
    }

    .left-branch {
        background: #77B039;
        height: 35px;
        width: 9px;
        position: absolute;
        left: -12px;
        top: 24px;
        border-radius: 100% 0% 0% 0%;
        -webkit-border-radius: 100% 0% 0% 0%;
        -moz-border-radius: 100% 0% 0% 0%;
        transform: rotate(-50deg);
        -webkit-transform: rotate(-50deg);
        -moz-transform: rotate(-50deg);
        -ms-transform: rotate(-50deg);
        -o-transform: rotate(-50deg);
    }

    .right-branch {
        background: #77B039;
        height: 35px;
        width: 9px;
        position: absolute;
        top: 24px;
        left: 10px;
        border-radius: 0% 100% 0% 0%;
        -webkit-border-radius: 0% 100% 0% 0%;
        -moz-border-radius: 0% 100% 0% 0%;
        transform: rotate(50deg);
        -webkit-transform: rotate(50deg);
        -moz-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
        -o-transform: rotate(50deg);
    }



    /*-------------------------css flower------------------------------------*/
    #position1 {
        top: 150px;
        left: 720px;
        z-index: 5;
    }

    .sunflower1 {
        position: relative;
        height: 20px;
        width: 30px;
    }

    .petals1 {
        z-index: -1;
        border-radius: 100%;
        display: inline-block;
        background-image: url("../img/css3.png");
        background-size: 100%;
        height: 60px;
        width: 60px;
        position: absolute;
        animation: petals 2s infinite linear;
        box-shadow: 15px 17px dodgerblue,
        -15px 17px dodgerblue,
        -22px -7px dodgerblue,
        0px -22px dodgerblue,
        22px -7px dodgerblue;
    }

    .trunk1 {
        height: 85px;
        width: 5px;
        background: #77B039;
        left: 37px;
        top: 60px;
        position: absolute;
        z-index: -2;
        animation: trunk 2s infinite linear;
    }





    /*----------------------JavaScript flower-----------------------------------*/
    #position2 {
        top: 120px;
        left: 260px;
        z-index: 1;
    }

    .sunflower2 {
        position: relative;
        height: 20px;
        width: 30px;
    }

    .petals2 {
        z-index: -1;
        border-radius: 100%;
        display: inline-block;
        background-image: url("../img/jslogo.png");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 60px;
        width: 60px;
        position: absolute;
        animation: petals 2s infinite linear;
        box-shadow: 15px 17px coral,
        -15px 17px coral,
        -22px -7px coral,
        0px -22px coral,
        22px -7px coral;
    }

    .trunk2 {
        height: 85px;
        width: 5px;
        background: #77B039;
        left: 37px;
        top: 60px;
        position: absolute;
        z-index: -2;
        animation: trunk 2s infinite linear;
    }

    .left-branch2 {
        background: #77B039;
        height: 35px;
        width: 9px;
        position: absolute;
        left: -12px;
        top: 24px;
        border-radius: 100% 0% 0% 0%;
        -webkit-border-radius: 100% 0% 0% 0%;
        -moz-border-radius: 100% 0% 0% 0%;
        transform: rotate(-50deg);
        -webkit-transform: rotate(-50deg);
        -moz-transform: rotate(-50deg);
        -ms-transform: rotate(-50deg);
        -o-transform: rotate(-50deg);
    }

    .right-branch2 {
        background: #77B039;
        height: 35px;
        width: 9px;
        position: absolute;
        top: 24px;
        left: 10px;
        border-radius: 0% 100% 0% 0%;
        -webkit-border-radius: 0% 100% 0% 0%;
        -moz-border-radius: 0% 100% 0% 0%;
        transform: rotate(50deg);
        -webkit-transform: rotate(50deg);
        -moz-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
        -o-transform: rotate(50deg);
    }

    /*----------------------Java Flower------------------------------------*/
    #position3 {
        top: 40px;
        left: 850px;
        z-index: 3;
    }

    .sunflower3 {
        position: relative;
        height: 20px;
        width: 30px;
    }

    .petals3 {
        z-index: -1;
        border-radius: 100%;
        display: inline-block;
        background-image: url("../img/java.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 400%;
        height: 60px;
        width: 60px;
        position: absolute;
        animation: petals 2s infinite linear;
        box-shadow: 15px 17px deeppink,
        -15px 17px deeppink,
        -22px -7px deeppink,
        0 -22px deeppink,
        22px -7px deeppink;
    }

    .trunk3 {
        height: 95px;
        width: 6px;
        background: #77B039;
        left: 37px;
        top: 60px;
        position: absolute;
        z-index: -2;
        animation: trunk 2s infinite linear;
    }

    .left-branch3 {
        background: #77B039;
        height: 35px;
        width: 9px;
        position: absolute;
        left: -12px;
        top: 24px;
        border-radius: 100% 0% 0% 0%;
        -webkit-border-radius: 100% 0% 0% 0%;
        -moz-border-radius: 100% 0% 0% 0%;
        transform: rotate(-50deg);
        -webkit-transform: rotate(-50deg);
        -moz-transform: rotate(-50deg);
        -ms-transform: rotate(-50deg);
        -o-transform: rotate(-50deg);
    }

    .right-branch3 {
        background: #77B039;
        height: 35px;
        width: 9px;
        position: absolute;
        top: 24px;
        left: 10px;
        border-radius: 0% 100% 0% 0%;
        -webkit-border-radius: 0% 100% 0% 0%;
        -moz-border-radius: 0% 100% 0% 0%;
        transform: rotate(50deg);
        -webkit-transform: rotate(50deg);
        -moz-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
        -o-transform: rotate(50deg);
    }

    /*----------------------Flower Animations-----------------------------------*/
    @keyframes petals {
        0% {
            left: 14px;
            transform: rotate(-5deg);
        }
        25% {
            left: 30px;
            transform: rotate(5deg);
        }
        50% {
            left: 14px;
            transform: rotate(-5deg);
        }
        75% {
            left: 30px;
            transform: rotate(5deg);
        }
        100% {
            left: 14px;
            transform: rotate(-5deg);
        }
    }

    @keyframes trunk {
        0% {
            left: 34px;
            transform: rotate(-5deg);
        }
        25% {
            left: 40px;
            transform: rotate(5deg);
        }
        50% {
            left: 34px;
            transform: rotate(-5deg);
        }
        75% {
            left: 40px;
            transform: rotate(5deg);
        }
        100% {
            left: 34px;
            transform: rotate(-5deg);
        }
    }


}