* {
    box-sizing: border-box
}

@media screen and (min-width: 1000px) {
    body {
        background-color: black;
        display: grid;
        height: 100vh;
        grid-template-rows: 80vh 20vw;
        grid-template-columns: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    /*--------------------------Navigation Area--------------------------------------------------------*/
    /*T.V. Guide*/
    #tvGuide {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        height: 615px;
        width: 1200px;
        z-index: 49;
    }

    #tvGuideCenter {
        position: relative;
        width: 600px;
        left: 200px;
        top: 150px;

    }

    #flipbook {
        background-color: transparent;
        z-index: 50;
    }

    .guideCover {
        background-image: url("../img/tvguide.jpg");
        background-size: auto;
        display: flex;
        align-items: center;
        font-size: 28px;
        color: #F60FC1;
        font-family: 'VT323', monospace;

    }

    .guide {
        background-color: whitesmoke;
        border: 1px solid grey;
    }


    /*Nav menu*/
    #remote {
        grid-area: 2 / 1 / 3 / 2;
        border: 2px solid silver;
        border-radius: 100px;
        background-image: url("../img/remote.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 1000px;
        display: grid;
        grid-template-columns: 35% 30% 35%;
        grid-template-rows: 50% 50%;
        margin-left: 10px;
    }

    .button {
        background-color: rgba(0, 0, 0, 0.3);;
        border-color: rgba(0, 0, 0, 0.5);;
        box-shadow: 0 0 5px black;

    }

    #powerBtn {
        grid-area: 1 / 2 / 2 / 3;
        width: 70px;
        height: 70px;
        margin-left: 40%;
        margin-top: 10%;
        border-radius: 50%;
        box-shadow: 0 5px 5px black;
        position: relative;
        top: 0;
        transition: all ease 0.3s;
    }

    #powerBtn:active {
        box-shadow: 0 3px 0 red;
        top: 3px;
    }

    #aboutBtn {
        grid-area: 1 / 1 / 2/ 2;
        width: 80px;
        height: 50px;
        border-radius: 50%;
        margin-left: 50%;
        margin-top: 10%;
        box-shadow: 0 5px 5px black;
        position: relative;
        top: 0;
        transition: all ease 0.3s;
    }

    #aboutBtn:active {
        box-shadow: 0 3px 0 cyan;
        top: 3px;
    }

    #gardenBtn {
        grid-area: 2 / 1 / 3 / 2;
        width: 80px;
        height: 50px;
        border-radius: 50%;
        margin-left: 50%;
        margin-top: 2%;
        box-shadow: 0 5px 5px black;
        position: relative;
        top: 0;
        transition: all ease 0.3s;
    }

    #gardenBtn:active {
        box-shadow: 0 3px 0 yellow;
        top: 3px;
    }

    #button4 {
        grid-area: 2 / 3 / 3 / 4;
        width: 80px;
        height: 50px;
        border-radius: 50%;
        margin-left: 30%;
        margin-top: 2%;
        box-shadow: 0 5px 5px black;
        position: relative;
        top: 0;
        transition: all ease 0.3s;
    }

    #button4:active {
        box-shadow: 0 3px 0 orange;
        top: 3px;
    }

    #button5 {
        grid-area: 1 / 3 / 2 / 4;
        width: 80px;
        height: 50px;
        border-radius: 50%;
        margin-left: 30%;
        margin-top: 10%;
        box-shadow: 0 5px 5px black;
        position: relative;
        top: 0;
        transition: all ease 0.3s;
    }

    #button5:active {
        box-shadow: 0 3px 0 #F60FC1;
        top: 3px;
    }

    #guideBtn {
        grid-area: 2 / 2 / 3 / 3;
        height: 30px;
        width: 150px;
        border-radius: 20px;
        margin-left: 25%;
        margin-top: 10%;
        box-shadow: 0 5px 5px black;
        position: relative;
        top: 0;
        transition: all ease 0.3s;
    }

    #guideBtn:active {
        box-shadow: 0 3px 0 lawngreen;
        top: 3px;
    }

}

/*---------------------------------------------World area--------------------------------------------*/
#instructions {
    grid-area: 1 / 1 / 1 / 1;
    position: absolute;
    color: dodgerblue;
    top: 180px;
    left: 130px;
    font-size: 20px;
    font-family: 'Righteous', cursive;
}
#instructions li {
    padding: 10px;
}
#instructions span {
    color: red;
    font-size: 22px;
}

/*----------------------------------------------------Intro-------------------------------------------*/
#intro {
    display: none;
    grid-area: 1 / 1 / 1 / 1;
    height: 100%;
    width: 1040px;
    background-size: 100% 100%;
    background-image: url("../img/tv.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#introTVscreen {
    position: absolute;
    top: 180px;
    left: 400px;
    height: 175px;
    width: 200px;
}

#introTV {
    height: 100%;
    width: 100%;
    z-index: -1;
}

/*#world {*/
/*    grid-area: 1 / 1 / 2 / 2;*/
/*    display: grid;*/
/*    height: 100vh;*/
/*    grid-template-rows: 100%;*/
/*    grid-template-columns: 100%;*/
/*}*/


/*#tv {*/

/*}*/
/*#screen {*/

/*}*/
/*#sun{*/

/*}*/

/*Twilight Zone World */
/*#television {*/
/*    grid-area: tv;*/
/*    height: auto;*/
/*    width: auto;*/
/*    background-image: url("../img/tv2.png");*/
/*    background-repeat: no-repeat;*/
/*    display: grid;*/
/*    grid-template-rows: 50px 370px 50px;*/
/*    grid-template-columns: 55px 500px 55px;*/
/*}*/

/*#tvScreen {*/
/*    grid-area: 2 / 2 / 3 / 3;*/
/*    height: auto;*/
/*    width: auto;*/
/*}*/

/*.tvScreen {*/
/*    background-color: black;*/
/*    z-index: -1;*/
/*    height: auto;*/
/*    width: auto;*/
/*}*/

/*.onOff {*/
/*    background-image: url("../img/static.gif");*/
/*    background-repeat: no-repeat;*/
/*    height: auto;*/
/*    width: auto;*/
/*    z-index: -1;*/
/*}*/

/*.twilightZone {*/
/*    background-image: url("../img/twilightZone.gif");*/
/*    background-repeat: no-repeat;*/
/*    height: auto;*/
/*    width: auto;*/
/*    z-index: -1;*/
/*}*/

}