* {
    box-sizing: border-box
}

@media screen and (min-width: 1000px) {
    body {
        background-color: black;
        display: grid;
        height: 100vh;
        grid-template-rows: 80vh 20vw;
        grid-template-columns: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    canvas {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;

    }
    /*--------------------------Navigation Area--------------------------------------------------------*/
    /*T.V. Guide*/
    #tvGuide {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        height: 615px;
        width: 1200px;
        z-index: 49;
    }

    #tvGuideCenter {
        position: relative;
        width: 600px;
        left: 200px;
        top: 150px;

    }

    #flipbook {
        background-color: transparent;
        z-index: 50;
    }

    .guideCover {
        background-image: url("../img/tvguide.jpg");
        background-size: auto;
        display: flex;
        align-items: center;
        font-size: 28px;
        color: #F60FC1;
        font-family: 'VT323', monospace;

    }

    .guide {
        background-color: whitesmoke;
        border: 1px solid grey;
    }
    .tvGuidePage{
        padding-left: 20px;
        height: 200px;
        width: 180px;
    }

    /*Nav menu*/
    #remote {
        grid-area: 2 / 1 / 3 / 2;
        border: 2px solid rgba(0, 0, 0, 0.5);
        border-radius: 100px;
        background-image: url("../img/remote.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 1000px;
        display: grid;
        grid-template-columns: 35% 30% 35%;
        grid-template-rows: 50% 50%;
        margin-left: 10px;

    }

    .button {
        background-color: rgba(0, 0, 0, 0.3);
        border-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 5px black;

    }

    #powerBtn {
        grid-area: 1 / 2 / 2 / 3;
        width: 70px;
        height: 70px;
        margin-left: 40%;
        margin-top: 10%;
        border-radius: 50%;
        box-shadow: 0 5px 5px black;
        position: relative;
        top: 0;
        transition: all ease 0.3s;
        background-image: linear-gradient(darkred, red);
        font-size: 40px;
        font-family: 'VT323', monospace;
    }

    #powerBtn:active {
        box-shadow: 0 3px 0 red;
        top: 3px;
        color: red;
        text-shadow: palevioletred 0 -1px 0, indianred 0 2px 1px, red 0 0 5px, darkred 0 0 20px;

    }

    #aboutBtn {
        grid-area: 1 / 1 / 2/ 2;
        width: 80px;
        height: 50px;
        border-radius: 50%;
        margin-left: 50%;
        margin-top: 10%;
        box-shadow: 0 5px 5px black;
        position: relative;
        top: 0;
        transition: all ease 0.3s;
        background-color: cyan;
        font-size: 40px;
        font-family: 'VT323', monospace;
    }

    #aboutBtn:active {
        box-shadow: 0 3px 0 cyan;
        top: 3px;
        color: cyan;
        text-shadow: #00FFFF 0 -1px 0, #00EAEA 0 2px 1px, #00D6D6 0 0 5px, #008484 0 0 20px;

    }

    #gardenBtn {
        grid-area: 2 / 1 / 3 / 2;
        width: 80px;
        height: 50px;
        border-radius: 50%;
        margin-left: 50%;
        margin-top: 2%;
        box-shadow: 0 5px 5px black;
        position: relative;
        top: 0;
        transition: all ease 0.3s;
        background-color: yellow;
        font-size: 40px;
        font-family: 'VT323', monospace;
    }

    #gardenBtn:active {
        box-shadow: 0 3px 0 yellow;
        top: 3px;
        color: yellow;
        text-shadow: hsla(60, 100%, 50%, 0.3) 0 -1px 0, hsl(60, 100%, 50%) 0 2px 1px, hsl(60, 100%, 50%) 0 0 5px, hsla(60, 100%, 50%, 0.6) 0 0 20px;

    }

    #workBtn {
        grid-area: 1 / 3 / 2 / 4;
        width: 80px;
        height: 50px;
        border-radius: 50%;
        margin-left: 30%;
        margin-top: 10%;
        box-shadow: 0 5px 5px black;
        position: relative;
        top: 0;
        transition: all ease 0.3s;
        font-size: 40px;
        font-family: 'VT323', monospace;

    }

    #workBtn:active {
        box-shadow: 0 5px 0 #0033CC;
        top: 3px;
        color: blue;
        text-shadow: hsla(210, 100%, 20%, .3) 0 -1px 0, hsl(210, 100%, 85%) 0 2px 1px, hsla(200, 100%, 80%, 1) 0 0 5px, hsla(210, 100%, 50%, .6) 0 0 20px;

    }

    #contactBtn {
        grid-area: 2 / 3 / 3 / 4;
        width: 80px;
        height: 50px;
        border-radius: 50%;
        margin-left: 30%;
        margin-top: 2%;
        box-shadow: 0 5px 5px black;
        position: relative;
        top: 0;
        transition: all ease 0.3s;
        background-color: orange;
        font-size: 40px;
        font-family: 'VT323', monospace;
    }


    #contactBtn:active {
        box-shadow: 0 3px 0 orange;
        top: 3px;
        color: orange;
        text-shadow: hsla(39, 100%, 50%, 0.3) 0 -1px 0, hsl(46, 100%, 51%) 0 2px 1px, hsl(39, 100%, 50%) 0 0 5px, hsla(23, 100%, 50%, 0.6) 0 0 20px;

    }


    #guideBtn {
        grid-area: 2 / 2 / 3 / 3;
        height: 30px;
        width: 150px;
        border-radius: 20px;
        margin-left: 25%;
        margin-top: 10%;
        box-shadow: 0 5px 5px black;
        position: relative;
        top: 0;
        transition: all ease 0.3s;
        background-image: linear-gradient(green, lawngreen);
        font-size: 30px;
        font-family: 'VT323', monospace;
    }

    #guideBtn:active {
        top: 3px;
        color: #67CE00;
        box-shadow: 0 3px 0 lawngreen;
        text-shadow: #90FC31 0 -1px 0, #31FC13 0 2px 1px, #00D118 0 0 5px, #0FBD03 0 0 20px;

    }

    .metal {
        position: relative;
        margin: 40px auto;
        outline: none;
        text-align: center;
        color: hsla(0, 0%, 20%, 1);
        text-shadow: hsla(0, 0%, 40%, .5) 0 -1px 0, hsla(0, 0%, 100%, .6) 0 2px 1px;
        background-color: hsl(0, 0%, 90%);
        box-shadow: inset hsla(0, 0%, 15%, 1) 0 0px 0px 4px, /* border */ inset hsla(0, 0%, 15%, .8) 0 -1px 5px 4px, /* soft SD */ inset hsla(0, 0%, 0%, .25) 0 -1px 0px 7px, /* bottom SD */ inset hsla(0, 0%, 100%, .7) 0 2px 1px 7px, /* top HL */ hsla(0, 0%, 0%, .15) 0 -5px 6px 4px, /* outer SD */ hsla(0, 0%, 100%, .5) 0 5px 6px 4px; /* outer HL */
        transition: color .2s;
    }

    /* Linear ------------------------- */
    .metal.linear {
        width: 100px;
        height: 80px;
        border-radius: .5em;
        background-image: -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 6%, hsla(0, 0%, 100%, .1) 7.5%),
        -webkit-repeating-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 4%, hsla(0, 0%, 0%, .03) 4.5%),
        -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, .15) 2.2%),
        linear-gradient(180deg, hsl(0, 0%, 78%) 0%,
                hsl(0, 0%, 90%) 47%,
                hsl(0, 0%, 78%) 53%,
                hsl(0, 0%, 70%) 100%);
    }



    /*---------------------------------------------World area-------------------------------------------*/
    #instructionsTV{
        position: absolute;
        top: 50px;
        left: 80px;
        border: 10px solid cyan;
        border-radius: 10px;
        height: 500px;
        width: 850px;
        box-shadow: 0 1px 36px cyan, 0 1px 34px cyan;

    }

    #instructions {
        grid-area: 1 / 1 / 2 / 2;
        position: relative;
        color: cyan;
        top: 50px;
        left: 30px;
        width: 770px;
        height: 300px;
        font-size: 30px;
        font-family: 'Righteous', cursive;
    }


    #instructions li {
        padding: 10px;
    }

    /*----------------------------------------------------About World------------------------------------------*/
    #about{
        display: none;
        grid-area: 1 / 1 / 2 / 2;
        height: 100%;
        width: 1040px;
        background-size: 100% 100%;
        background-image: url("../img/brickwall.png");
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
    }
    #aboutTv{
        position: absolute;
        top: 120px;
        left: 100px;
        background-image: url("../img/static.gif");
        background-repeat: no-repeat;
        background-size: 100% 98%;
    }
    .neon {
        text-align: center;
        width: 65%;
        height: 250px;
        margin: auto;
        position: absolute;
       left: 175px;
        user-select: none;
    }

    .neon b{
        font: 400 100px "Righteous";
        color: #fee;
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
    }
    .neon b span{
        animation: blink linear infinite 2s;
    }
    .neon b span:nth-of-type(2){
        animation: blink linear infinite 3s;
    }
    @keyframes blink {
        78% {
            color: inherit;
            text-shadow: inherit;
        }
        79%{
            color: #333;
        }
        80% {

            text-shadow: none;
        }
        81% {
            color: inherit;
            text-shadow: inherit;
        }
        82% {
            color: #333;
            text-shadow: none;
        }
        83% {
            color: inherit;
            text-shadow: inherit;
        }
        92% {
            color: #333;
            text-shadow: none;
        }
        92.5% {
            color: inherit;
            text-shadow: inherit;
        }
    }


    /*----------------------------------------------------Work World------------------------------------------*/
    #workWorld {
        display: none;
        grid-area: 1 / 1 / 2 / 2;
        height: 100%;
        width: 1040px;
        background-size: 100% 100%;
        background-image: url("../img/tv.png");
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    #workTVscreen {
        position: absolute;
        top: 180px;
        left: 400px;
        height: 170px;
        width: 200px;
    }

    #workTV {
        height: 100%;
        width: 100%;
    }
/*---------------------------------------------------contact world------------------------------*/
    #contactWorld{
        display: none;
        background-image: url("../img/contactWorld.jpg");
        grid-area: 1 / 1 / 2 / 2;
        height: 100%;
        width: 1040px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;

    }
    #contactTv{
        background-image: url("../img/contactTV.png");
        background-repeat: no-repeat;
        height: 600px;
        width: 500px;
        position: absolute;
        left: 590px;
        top: 25px;
        z-index: 1;

    }
    #contactTVscreen{
        height: 142px;
        width: 171px;
        position: relative;
        top: 165px;
        left: 35px;
        transform: rotate(-10deg);
        border-radius: 15px;
        z-index: 0;
        border: 1px solid black;

    }
    #email{
        width: 200px;
        height: 200px;
    }

    #linkedin{
        height: 80px;
        width: 80px;
    }
    #github{
        height: 80px;
        width: 80px;
    }
    #resume{
        height: 100px;
        width: 80px;
    }
    #contactInfo{
        position: absolute;
        margin-left: 120px;
        top: -25px;
        font-size: 35px;
        font-family: 'Lacquer', sans-serif;
    }


    .lines {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 300;
        opacity: 0.2;
        will-change: opacity;
        animation: opacity 5s linear infinite;
    }

    .lines:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
        background-size: 100% 4px;
        will-change: background, background-size;
        animation: scanlines 0.3s linear infinite;
    }



    @keyframes opacity {
        0% {
            opacity: 0.8;
        }
        20% {
            opacity: 0.6;
        }
        35% {
            opacity: 0.8;
        }
        50% {
            opacity: 1;
        }
        60% {
            opacity: 0.6;
        }
        80% {
            opacity: 0.7;
        }
        100% {
            opacity: 0.8;
        }
    }

    @keyframes scanlines {
        from {
            background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
            background-size: 100% 4px;
        }
        to {
            background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 50%, transparent 51%);
            background-size: 100% 4px;
        }
    }



}