* {box-sizing: border-box}

html {

}

body {
    background-color: black;
    margin: 0 auto;

}
#livingRoom {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50% 25%;

}

/*Nav menu*/
#remote {
    grid-area: 3 / 1 / 4 / 2;
    background-image: url("../img/remote.png");
    background-repeat: no-repeat;
    height: 50vh;
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5fr 1fr 1fr 1fr 1fr 5fr;
}
.button{
    height: 30px;
    width: 50px;
}
#button1 {
    grid-area: ;
}
#button2 {
    grid-area: ;
}
#button3 {
    grid-area: ;
}
#button4 {
    grid-area: ;
}
#button5 {
    grid-area: ;
}
#button6 {
    grid-area: ;
}
#button7 {
    grid-area: ;
}
#button8 {
    grid-area: ;
}

/*Television*/
#television{
    grid-area: 2 / 2 / 3 / 3;
    height: 80vh;
    width: 90vw;
    background-image: url("../img/tv2.png");
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: .6fr 5fr 3fr;
    grid-template-columns: .5fr 9fr 1fr;
}
#tvScreen {
    grid-area: 2 / 2 / 3 / 3;
}
.tvScreen{
    background-color: black;
    z-index: -1;
}
.intro{
    background-image: url("../img/static.gif");
    background-repeat: no-repeat;
    background-size: 100vw;
    z-index: -1;
}
.twilightZone{
    background-image: url("../img/twilightZone.gif");
    background-repeat: no-repeat;
    background-size: 70vw 50vh;
    z-index: -1;
}