@import url("https://fonts.googleapis.com/css?family=Nixie+One");
@import url("https://fonts.googleapis.com/css?family=League+Script");
* {
  box-sizing: border-box;
  user-select: none;
}

@media (max-width: 767px) {
  body {
    margin: 10%;
    font-family: 'Nixie One', Helvetica, Arial, sans-serif;
    font-size: 20px;
    background-image: url("../img/brickwall.png");
    background-size: 100vw 100vh;
  }
  a {
    color: white;
  }
  h3 {
    color: white;
  }
  p {
    color: white;
  }
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
  .sign {
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  #title {
    font-size: 50px;
  }
  #name {
    -webkit-animation: blink 0.01s infinite alternate;
    -moz-animation: blink 0.01s infinite alternate;
    -o-animation: blink 0.01s infinite alternate;
    animation: blink 0.01s infinite alternate;
  }
  #fade {
    opacity: 0.8;
    color: #ebffff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), 0 0px 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
    -webkit-animation: fade 3s infinite alternate;
    -moz-animation: fade 3s infinite alternate;
    -o-animation: fade 3s infinite alternate;
    animation: fade 3s infinite alternate;
  }
  .neon-blue {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    text-align: center;
    color: #ebffff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), 0 0px 15px #fff, 0 0 10px #ebffff, 0 0 50px #ebffff;
  }
  .neon-purple {
    font-family: 'League Script', Helvetica, Arial, sans-serif;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    color: #FF00E6;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5), 0 0 20px #fff, 0 0 10px #7d26cd, 0 0 50px #7d26cd;
  }
  @-moz-keyframes blink {
    70% {
      opacity: 0.7;
    }
  }
  @-webkit-keyframes blink {
    45% {
      opacity: 0.5;
    }
  }
  @-o-keyframes blink {
    70% {
      opacity: 0.7;
    }
  }
  @keyframes blink {
    70% {
      opacity: 0.7;
    }
  }
  @-moz-keyframes fade {
    40% {
      opacity: 0.8;
    }
    42% {
      opacity: 0.1;
    }
    43% {
      opacity: 0.8;
    }
    45% {
      opacity: 0.1;
    }
    46% {
      opacity: 0.8;
    }
  }
  @-webkit-keyframes fade {
    40% {
      opacity: 0.8;
    }
    42% {
      opacity: 0.1;
    }
    43% {
      opacity: 0.8;
    }
    45% {
      opacity: 0.1;
    }
    46% {
      opacity: 0.8;
    }
  }
  @-o-keyframes fade {
    40% {
      opacity: 0.8;
    }
    42% {
      opacity: 0.1;
    }
    43% {
      opacity: 0.8;
    }
    45% {
      opacity: 0.1;
    }
    46% {
      opacity: 0.8;
    }
  }
  @keyframes fade {
    40% {
      opacity: 0.8;
    }
    42% {
      opacity: 0.1;
    }
    43% {
      opacity: 0.8;
    }
    45% {
      opacity: 0.1;
    }
    46% {
      opacity: 0.8;
    }
  }
  .logo {
    width: 65%;
    margin-top: 20%;
    margin-bottom: 10%;
    user-select: none;
  }
  .logo p {
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    color: #FF00E6;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #FF00E6, 0 0 0.5em #FF00E6, 0 0 0.1em #FF00E6, 0 10px 3px #000;
  }
  .logo p span {
    animation: blink linear infinite 8s;
  }
  .logo p span:nth-of-type(2) {
    animation: blink linear infinite 9s;
  }
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79% {
      color: #333;
    }
    80% {
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
  img {
    width: 280px;
    height: 200px;
  }
  .timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
    line-height: inherit;
  }
  /*----- TIMELINE ITEM -----*/
  .timeline-item {
    padding-left: 40px;
    position: relative;
  }
  .timeline-item:last-child {
    padding-bottom: 0;
  }
  /*----- TIMELINE INFO -----*/
  .timeline-info {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    color: #00D6D6;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #00D6D6, 0 0 0.5em #00D6D6, 0 0 0.1em #00D6D6, 0 10px 3px #000;
  }
  /*----- TIMELINE MARKER -----*/
  .timeline-marker {
    animation: text-flicker 8s linear infinite;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
  }
  .timeline-marker:before {
    background: yellow;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  }
  .timeline-marker:after {
    content: "";
    width: 3px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px;
  }
  .timeline-item:last-child .timeline-marker:after {
    content: none;
  }
  .timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid #FF6B6B;
  }
  /*----- TIMELINE CONTENT -----*/
  .timeline-content {
    padding-bottom: 40px;
  }
  .timeline-content p:last-child {
    margin-bottom: 0;
  }
  /*----- TIMELINE PERIOD -----*/
  .period {
    padding: 0;
  }
  .period .timeline-info {
    display: none;
  }
  .period .timeline-marker:before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid #CCD5DB;
    border-bottom: 3px solid #CCD5DB;
  }
  .period .timeline-marker:after {
    content: "";
    height: 32px;
    top: auto;
  }
  .period .timeline-content {
    padding: 40px 0 70px;
  }
  .period .timeline-title {
    margin: 0;
  }
  #skills img {
    height: 100px;
    width: 100px;
  }
  #theatre {
    border: inset black 10px;
    height: 420px;
    width: 100%;
    margin-left: -20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.3);
    background-color: black;
    text-shadow: 0 0 2px yellow, 0 0 4px black, 0 0 6px white;
  }
  #theatre #curtain-left, #theatre #curtain-right {
    content: '';
    position: absolute;
    z-index: 2;
    top: -30px;
    bottom: -30px;
    width: 61%;
    transition: all 4s ease-out;
    transform: rotate(0deg);
    background-color: #A90505;
    background-image: linear-gradient(90deg, transparent 10%, rgba(255, 255, 255, 0.25) 50%, transparent 65%);
    background-repeat: repeat;
    box-shadow: 0 0 10px #555, inset 0 -60px 60px -30px rgba(255, 255, 255, 0.5), inset 0 90px 60px -30px rgba(0, 0, 0, 0.5);
    background-size: 80px;
  }
  #curtain-left {
    left: -10%;
  }
  #curtain-right {
    right: -10%;
  }
  #theatre:hover #curtain-right, #theatre:hover #curtain-left {
    width: 0;
    background-size: 1px;
    transition: all 4s ease;
    transform: rotate(15deg);
  }
  div#theatre:hover #curtain-right {
    transition: all 4s ease;
    transform: rotate(-15deg);
  }
  .fa-arrow-left {
    color: #00D6D6;
    padding: 20px;
    font-size: 30px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), 0 0px 15px #fff, 0 0 10px #ebffff, 0 0 50px #ebffff;
    animation: blink linear infinite .8s;
  }
  .fa-arrow-right {
    color: #00D6D6;
    padding: 20px;
    font-size: 30px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), 0 0px 15px #fff, 0 0 10px #ebffff, 0 0 50px #ebffff;
    animation: blink linear infinite .8s;
  }
  #resume {
    position: absolute;
    margin-left: 15%;
    cursor: pointer;
  }
  #contactBtns {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    cursor: pointer;
  }
  #contact {
    display: flex;
    justify-content: space-around;
  }
  #contact a {
    color: #00D6D6;
  }
  a {
    text-decoration: none;
    color: #FF00E6;
    font-size: 45px;
    letter-spacing: 5px;
  }
  #offset {
    animation: letter-flicker 2s linear infinite;
  }
  @keyframes text-flicker {
    0% {
      opacity: 0.1;
      text-shadow: 0px 0px 29px #f21616;
    }
    2% {
      opacity: 1;
      text-shadow: 0px 0px 29px #f21616;
    }
    8% {
      opacity: 0.1;
      text-shadow: 0px 0px 29px #f21616;
    }
    9% {
      opacity: 1;
      text-shadow: 0px 0px 29px #f21616;
    }
    12% {
      opacity: 0.1;
      text-shadow: 0px 0px #f21616;
    }
    20% {
      opacity: 1;
      text-shadow: 0px 0px 29px #f21616;
    }
    25% {
      opacity: 0.3;
      text-shadow: 0px 0px 29px #f21616;
    }
    30% {
      opacity: 1;
      text-shadow: 0px 0px 29px #f21616;
    }
    70% {
      opacity: 0.7;
      text-shadow: 0px 0px 29px #f21616;
    }
    72% {
      opacity: 0.2;
      text-shadow: 0px 0px 29px #f21616;
    }
    77% {
      opacity: .9;
      text-shadow: 0px 0px 29px #f21616;
    }
    100% {
      opacity: .9;
      text-shadow: 0px 0px 29px #f21616;
    }
  }
  @keyframes letter-flicker {
    0% {
      opacity: 0.1;
      text-shadow: 0px 0px 29px #f21616;
    }
    2% {
      opacity: 0.1;
      text-shadow: 0px 0px 29px #f21616;
    }
    4% {
      opacity: 1;
      text-shadow: 0px 0px 29px #f21616;
    }
    19% {
      opacity: 1;
      text-shadow: 0px 0px 29px #f21616;
    }
    21% {
      opacity: 0.1;
      text-shadow: 0px 0px 29px #f21616;
    }
    23% {
      opacity: 1;
      text-shadow: 0px 0px 29px #f21616;
    }
    80% {
      opacity: 1;
      text-shadow: 0px 0px 29px #f21616;
    }
    83% {
      opacity: 0.4;
      text-shadow: 0px 0px 29px #f21616;
    }
    87% {
      opacity: 1;
      text-shadow: 0px 0px 29px #f21616;
    }
  }
}
