@import url("https://fonts.googleapis.com/css?family=Nixie+One");
@import url("https://fonts.googleapis.com/css?family=League+Script");
/* line 26, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
* {
  box-sizing: border-box;
}

/* line 28, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
body {
  background-image: url("../img/brickwall.png");
  display: flex;
  background-size: 100vw 100vh;
}

@media (max-width: 767px) {
  /* line 38, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  body {
    margin: 10%;
    font-family: 'Nixie One', Helvetica, Arial, sans-serif;
    font-size: 20px;
  }
  /* line 43, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  a {
    color: white;
  }
  /* line 46, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  h3 {
    color: white;
  }
  /* line 49, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  p {
    color: white;
  }
  /* line 53, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .theater-sign {
    display: none;
  }
  /* line 56, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
  /* line 64, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .sign {
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  /* line 70, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  #title {
    font-size: 50px;
  }
  /* line 73, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  #name {
    -webkit-animation: blink 0.01s infinite alternate;
    -moz-animation: blink 0.01s infinite alternate;
    -o-animation: blink 0.01s infinite alternate;
    animation: blink 0.01s infinite alternate;
  }
  /* line 79, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  #fade {
    opacity: 0.8;
    color: #ebffff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), 0 0px 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
    -webkit-animation: fade 3s infinite alternate;
    -moz-animation: fade 3s infinite alternate;
    -o-animation: fade 3s infinite alternate;
    animation: fade 3s infinite alternate;
  }
  /* line 88, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .neon-blue {
    margin: 0 auto;
    text-align: center;
    color: #ebffff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), 0 0px 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
  }
  /* line 94, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .neon-purple {
    font-family: 'League Script', Helvetica, Arial, sans-serif;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    color: #ccf;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5), 0 0 20px #fff, 0 0 10px #7d26cd, 0 0 50px #7d26cd;
  }
  @-moz-keyframes blink {
    70% {
      opacity: 0.7;
    }
  }
  @-webkit-keyframes blink {
    45% {
      opacity: 0.5;
    }
  }
  @-o-keyframes blink {
    70% {
      opacity: 0.7;
    }
  }
  @keyframes blink {
    70% {
      opacity: 0.7;
    }
  }
  @-moz-keyframes fade {
    40% {
      opacity: 0.8;
    }
    42% {
      opacity: 0.1;
    }
    43% {
      opacity: 0.8;
    }
    45% {
      opacity: 0.1;
    }
    46% {
      opacity: 0.8;
    }
  }
  @-webkit-keyframes fade {
    40% {
      opacity: 0.8;
    }
    42% {
      opacity: 0.1;
    }
    43% {
      opacity: 0.8;
    }
    45% {
      opacity: 0.1;
    }
    46% {
      opacity: 0.8;
    }
  }
  @-o-keyframes fade {
    40% {
      opacity: 0.8;
    }
    42% {
      opacity: 0.1;
    }
    43% {
      opacity: 0.8;
    }
    45% {
      opacity: 0.1;
    }
    46% {
      opacity: 0.8;
    }
  }
  @keyframes fade {
    40% {
      opacity: 0.8;
    }
    42% {
      opacity: 0.1;
    }
    43% {
      opacity: 0.8;
    }
    45% {
      opacity: 0.1;
    }
    46% {
      opacity: 0.8;
    }
  }
  /* line 191, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .logo {
    width: 65%;
    margin-top: 20%;
    margin-bottom: 10%;
    user-select: none;
  }
  /* line 198, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .logo b {
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
  }
  /* line 204, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .logo b span {
    animation: blink linear infinite 8s;
  }
  /* line 207, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .logo b span:nth-of-type(2) {
    animation: blink linear infinite 9s;
  }
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79% {
      color: #333;
    }
    80% {
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
  /* line 248, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  img {
    width: 280px;
    height: 200px;
  }
  /* line 252, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  /* line 258, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
    line-height: inherit;
  }
  /*----- TIMELINE ITEM -----*/
  /* line 265, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .timeline-item {
    padding-left: 40px;
    position: relative;
  }
  /* line 268, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .timeline-item:last-child {
    padding-bottom: 0;
  }
  /*----- TIMELINE INFO -----*/
  /* line 275, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .timeline-info {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
    color: red;
  }
  /*----- TIMELINE MARKER -----*/
  /* line 286, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .timeline-marker {
    animation: text-flicker 8s linear infinite;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
  }
  /* line 291, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .timeline-marker:before {
    background: #FF6B6B;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  }
  /* line 304, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .timeline-marker:after {
    content: "";
    width: 3px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px;
  }
  /* line 312, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .timeline-item:last-child .timeline-marker:after {
    content: none;
  }
  /* line 316, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid #FF6B6B;
  }
  /*----- TIMELINE CONTENT -----*/
  /* line 323, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .timeline-content {
    padding-bottom: 40px;
  }
  /* line 325, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .timeline-content p:last-child {
    margin-bottom: 0;
  }
  /*----- TIMELINE PERIOD -----*/
  /* line 332, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .period {
    padding: 0;
  }
  /* line 334, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .period .timeline-info {
    display: none;
  }
  /* line 338, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .period .timeline-marker:before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid #CCD5DB;
    border-bottom: 3px solid #CCD5DB;
  }
  /* line 351, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .period .timeline-marker:after {
    content: "";
    height: 32px;
    top: auto;
  }
  /* line 357, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .period .timeline-content {
    padding: 40px 0 70px;
  }
  /* line 360, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .period .timeline-title {
    margin: 0;
  }
  /* line 366, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  #skills img {
    height: 100px;
    width: 100px;
  }
  /* line 373, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  #resume {
    position: absolute;
    margin-left: 20%;
  }
  /* line 378, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  #contactBtns {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
  }
  /* line 384, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  #contact {
    display: flex;
    justify-content: space-around;
  }
  /* line 391, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  a {
    text-decoration: none;
    color: #FF00E6;
    font-size: 45px;
    letter-spacing: 5px;
    animation: text-flicker 10s linear infinite;
  }
  /* line 399, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  #offset {
    animation: letter-flicker 2s linear infinite;
  }
  @keyframes text-flicker {
    0% {
      opacity: 0.1;
      text-shadow: 0px 0px 29px #f21616;
    }
    2% {
      opacity: 1;
      text-shadow: 0px 0px 29px #f21616;
    }
    8% {
      opacity: 0.1;
      text-shadow: 0px 0px 29px #f21616;
    }
    9% {
      opacity: 1;
      text-shadow: 0px 0px 29px #f21616;
    }
    12% {
      opacity: 0.1;
      text-shadow: 0px 0px #f21616;
    }
    20% {
      opacity: 1;
      text-shadow: 0px 0px 29px #f21616;
    }
    25% {
      opacity: 0.3;
      text-shadow: 0px 0px 29px #f21616;
    }
    30% {
      opacity: 1;
      text-shadow: 0px 0px 29px #f21616;
    }
    70% {
      opacity: 0.7;
      text-shadow: 0px 0px 29px #f21616;
    }
    72% {
      opacity: 0.2;
      text-shadow: 0px 0px 29px #f21616;
    }
    77% {
      opacity: .9;
      text-shadow: 0px 0px 29px #f21616;
    }
    100% {
      opacity: .9;
      text-shadow: 0px 0px 29px #f21616;
    }
  }
  @keyframes letter-flicker {
    0% {
      opacity: 0.1;
      text-shadow: 0px 0px 29px #f21616;
    }
    2% {
      opacity: 0.1;
      text-shadow: 0px 0px 29px #f21616;
    }
    4% {
      opacity: 1;
      text-shadow: 0px 0px 29px #f21616;
    }
    19% {
      opacity: 1;
      text-shadow: 0px 0px 29px #f21616;
    }
    21% {
      opacity: 0.1;
      text-shadow: 0px 0px 29px #f21616;
    }
    23% {
      opacity: 1;
      text-shadow: 0px 0px 29px #f21616;
    }
    80% {
      opacity: 1;
      text-shadow: 0px 0px 29px #f21616;
    }
    83% {
      opacity: 0.4;
      text-shadow: 0px 0px 29px #f21616;
    }
    87% {
      opacity: 1;
      text-shadow: 0px 0px 29px #f21616;
    }
  }
}

@media (min-width: 768px) {
  /* line 505, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  #mobile {
    display: none;
  }
  /* line 508, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  body {
    background-image: url("../img/brickwall.png");
    display: flex;
    background-size: 100vw 100vh;
  }
  /* line 514, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .theater-sign {
    height: 300px;
    margin-left: 25%;
  }
  /* line 519, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .sign-top {
    display: flex;
    justify-content: space-between;
  }
  /* line 523, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .sign-lines {
    flex: 0 1 30%;
    margin-top: 10px;
  }
  /* line 527, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .sign-line {
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 10px #fff, 0 0 20px #07294D, 0 0 35px #07294D, 0 0 40px #07294D;
    height: 6px;
    margin-top: 16px;
  }
  /* line 534, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .sign-title {
    color: #FFF4CD;
    flex: 0 1 40%;
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
    letter-spacing: 10px;
    margin: 6px auto;
    padding-left: 12px;
    text-align: center;
    text-shadow: 0 0 10px #fff, 0 0 20px #FFC600, 0 0 35px #FFC600, 0 0 40px #FFC600;
    text-transform: uppercase;
    animation: flicker 3s linear infinite;
    -moz-animation: flicker 3s linear infinite;
    -webkit-animation: flicker 3s linear infinite;
  }
  /* line 550, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .grid-container {
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff, 0 0 20px red, 0 0 35px red, 0 0 40px red, inset 0 0 10px #fff, inset 0 0 20px red, inset 0 0 35px red, inset 0 0 40px red;
    color: #fff;
    padding: 12px;
    animation: flicker 3s linear infinite;
    -moz-animation: flicker 3s linear infinite;
    -webkit-animation: flicker 3s linear infinite;
  }
  /* line 561, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .grid {
    border: 2px solid #333;
    border-radius: 3px;
    display: flex;
    flex-flow: row wrap;
    width: 700px;
  }
  /* line 568, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .grid::after {
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3) inset;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
  }
  /* line 578, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .grid-cells {
    background: white;
    border: 1px solid #333;
    flex: 0 1 20%;
    height: 24px;
  }
  /* line 584, ../../../../../../../../../../../../../Users/jwhester/IdeaProjects/personal_projects/css/personal-website.scss */
  .show-details {
    color: #303030;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 48px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -176px;
    z-index: 999;
  }
  @keyframes flicker {
    from {
      opacity: 1;
    }
    4% {
      opacity: .9;
    }
    6% {
      opacity: .85;
    }
    8% {
      opacity: .95;
    }
    10% {
      opacity: .90;
    }
    11% {
      opacity: .922;
    }
    12% {
      opacity: .9;
    }
    14% {
      opacity: .95;
    }
    16% {
      opacity: .98;
    }
    17% {
      opacity: .9;
    }
    19% {
      opacity: .93;
    }
    20% {
      opacity: .99;
    }
    24% {
      opacity: 1;
    }
    26% {
      opacity: .94;
    }
    28% {
      opacity: .98;
    }
    37% {
      opacity: .93;
    }
    39% {
      opacity: .96;
    }
    42% {
      opacity: 1;
    }
    44% {
      opacity: .97;
    }
    46% {
      opacity: .94;
    }
    56% {
      opacity: .9;
    }
    58% {
      opacity: .9;
    }
    60% {
      opacity: .99;
    }
    68% {
      opacity: 1;
    }
    70% {
      opacity: .9;
    }
    72% {
      opacity: .95;
    }
    93% {
      opacity: .93;
    }
    95% {
      opacity: .95;
    }
    97% {
      opacity: .93;
    }
    to {
      opacity: 1;
    }
  }
}

/*# sourceMappingURL=personal-website.css.map */